<template>
  <div align="center" class="text-h1">
    <div id="myResult">{{ result }}</div>
    <div>
      <q-btn id="myBtn" label="test" @click="jestTest()"></q-btn>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      result: null,
      answer: "10"
    };
  },
  methods: {
    jestTest() {
      this.result = this.answer;
    }
  }
};
</script>
